body {
  background: #fffcf5;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

#player-manager-window {
  position: fixed;
  background: #dedede;
  height: 40px;
  width: 100vw;
  bottom: 0;
}

#icons {
  color: #707070;
  position: fixed;
  margin-left: 20px;
  bottom: 12px;
}

#icons button {
  border: none;
  background: none;
  width: 0;
}

.fa {
  margin-left: 10px;
}

#music-info {
  position: absolute;
  left: 30vw;

  background: #ededed;
  height: 40px;
  width: 40vw;
}

#name {
  bottom: 8px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

#name-scroll {
  position: relative;
  top: 8px;
}

#controls {
  color: #707070;
  position: fixed;
  right: 15vw;
  bottom: 10px;
}

#vol-control {
   transform: rotate(270deg);
   position: relative;
   bottom: 75px;
   right: -88px;
   color: #707070;
}

#volume {
  color: #707070;
  position: fixed;
  right: 30px;
  bottom: 11px;
  font-size: 18px;
}
